<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReadIT Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="header">
        <img src="/img/ReadIt.png" alt="ReadIT logo" class="logo">
        <h1 class="site-title">Read<span class="highlight">IT</span></h1>
    </div>
    <div class="login-container">
        <form id="login-form" class="login-form" action="/login" method="POST">
            <h2>Login</h2>
            <label for="username">Email/Username</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            <div>
                <input type="checkbox" id="remember-me" name="remember-me">
                <label for="remember-me">Remember me</label>
            </div>
            <div class="signup-link"><p>Dont have an account?</p><a href="/register">Sign up</a></div>
            <button type="submit">Submit</button>
        </form>
    </div>
    <script src="/js/login.js"></script>
</body>
</html>
