<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReadIT Sign Up</title>
    <link rel="stylesheet" href="/css/global-dark-theme.css">
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
    <div class="header">
        <img src="/img/readIt.png" alt="ReadIT logo" class="logo">
        <h1 class="site-title">Read<span class="highlight">IT</span></h1>
    </div>
    <div class="signup-container">
        <form id="signup-form" class="signup-form" action="/register" method="POST">
            <h2>Sign Up</h2>
            <label for="username">Email/Username</label>
            <input type="text" name="username" id="username" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <label for="confirm-password">Confirm Password</label>
            <input type="password" name="confirmPassword" id="confirm-password" required>
            <label for="quote">Favorite Quote</label>
            <input type="text" name="quote" id="quote">
            <div class="login-link"><p>Already have an account?</p><a href="/login">Login</a></div>
            <button type="submit">Submit</button>
        </form>
    </div>
    <script src="/js/signup.js"></script>
</body>
</html>